<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заявка</title>
</head>
<body>
<div>
    <h1 th:text="${building.title}"></h1>
    <div th:each="i, j : ${building.getIngredientList()}">
        <form method="post" th:action="@{/warehouses/order/{id}/add(id=${building.id})}" th:object="${newIngredient}">
            <input type="hidden" th:value="${i.title}" name="title">
            <input type="hidden" th:value="${i.isNew}" name="new">
            <label for="title" th:text="${i.getTitle()}"></label>
            <input type="text" id="title" th:field="*{weight}">
            <input type="submit" value="Добавить"/>
        </form>
    </div>
    <form method="post" th:action="@{/warehouses/order/{id}/add-delivery(id=${building.id})}">
        <input type="submit" value="Сделать">
    </form>

    <div>
        <div th:each="i : ${order}">
            <p th:text="${i.title}"></p>
        </div>
    </div>
</div>
</body>
</html>